*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

[class^='container'] {
    margin: 40px auto;
}

[class^='col'] {
    padding: 15px;
}


/* Header */
.title{
    display: flex;
    justify-content: center;
}

header .col{
    text-align: center;
}

/* Main */

